In [20]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [21]:
df = pd.read_csv('Data/Loan_Default.csv',index_col=0)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148670 entries, 24890 to 173559
Data columns (total 33 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   year                       148670 non-null  int64
 1   loan_limit                 145326 non-null  object
 2   Gender                     148670 non-null  object
 3   approv_in_adv              147762 non-null  object
 4   loan_type                  148670 non-null  object
 5   loan_purpose               148536 non-null  object
 6   Credit_Worthiness          148670 non-null  object
 7   open_credit                148670 non-null  object
 8   business_or_commercial     148670 non-null  object
 9   loan_amount                148670 non-null  int64
 10  rate_of_interest           112231 non-null  float64
 11  Interest_rate_spread       112031 non-null  float64
 12  Upfront_charges            109028 non-null  float64
 13  term                       148629 non-null  float64
 14  Neg_ammortization          148549 non-null  object
 15  interest_only              148670 non-null  object
 16  lump_sum_payment           148670 non-null  object
 17  property_value             133572 non-null  float64
 18  construction_type          148670 non-null  object
 19  occupancy_type             148670 non-null  object
 20  Secured_by                 148670 non-null  object
 21  total_units                148670 non-null  object
 22  income                     139520 non-null  float64
 23  credit_type                148670 non-null  object
 24  Credit_Score               148670 non-null  int64
 25  co-applicant_credit_type   148670 non-null  object
 26  age                        148470 non-null  object
 27  submission_of_application  148470 non-null  object
 28  LTV                        133572 non-null  float64
 29  Region                     148670 non-null  object
 30  Security_Type              148670 non-null  object
 31  Status                     148670 non-null  int64
 32  dtir1                      124549 non-null  float64
dtypes: float64(8), int64(4), object(21)
memory usage: 38.6+ MB

In [7]:
X = df.drop('Status', axis =1)
y = df['Status']

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state =42,test_size = 0.25)

In [8]:
df_train = pd.concat([X_train, y_train], axis=1)

In [9]:
df_train

,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,loan_amount,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,dtir1,Status
ID,,,,,,,,,,,,,,,,,,,,,
148781,2019,cf,Joint,nopre,type1,p3,l1,nopc,nob/c,726500,...,CRIF,625,EXP,45-54,not_inst,57.750397,North,direct,30.0,0
40828,2019,cf,Female,pre,type1,p1,l1,nopc,nob/c,266500,...,CRIF,567,CIB,25-34,to_inst,78.846154,North,direct,44.0,0
133157,2019,cf,Joint,nopre,type2,p4,l1,nopc,b/c,446500,...,EXP,692,EXP,55-64,not_inst,73.437500,North,direct,NaN,0
113792,2019,cf,Joint,nopre,type1,p3,l1,nopc,nob/c,296500,...,CIB,893,EXP,55-64,to_inst,64.737991,North,direct,36.0,0
86062,2019,cf,Joint,nopre,type1,p3,l1,nopc,nob/c,366500,...,CRIF,719,EXP,>74,to_inst,58.359873,south,direct,38.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144769,2019,cf,Male,nopre,type1,p3,l1,nopc,nob/c,116500,...,CRIF,552,CIB,65-74,to_inst,69.345238,North,direct,38.0,1
128584,2019,cf,Joint,nopre,type2,p3,l1,nopc,b/c,426500,...,CRIF,545,EXP,45-54,to_inst,87.397541,south,direct,52.0,0
156822,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,236500,...,EXP,675,EXP,55-64,to_inst,79.362416,south,direct,48.0,0
171757,2019,cf,Joint,nopre,type1,p3,l1,nopc,nob/c,366500,...,CRIF,516,EXP,45-54,not_inst,37.095142,North,direct,26.0,0
146848,2019,cf,Sex Not Available,nopre,type2,p1,l1,nopc,b/c,86500,...,CIB,809,EXP,55-64,to_inst,88.265306,south,direct,21.0,1

In [10]:
df_train['Status'].value_counts()

0    83981
1    27521
Name: Status, dtype: int64

In [11]:
df_test = pd.concat([X_test, y_test], axis=1)

In [12]:
df_test

,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,loan_amount,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,dtir1,Status
ID,,,,,,,,,,,,,,,,,,,,,
49802,2019,cf,Female,nopre,type2,p3,l1,nopc,b/c,116500,...,EXP,679,CIB,45-54,to_inst,84.420290,North,direct,41.0,0
171958,2019,cf,Sex Not Available,pre,type1,p4,l1,nopc,nob/c,236500,...,EXP,853,EXP,25-34,to_inst,88.246269,south,direct,44.0,0
148174,2019,cf,Sex Not Available,nopre,type1,p3,l1,nopc,nob/c,136500,...,CRIF,598,EXP,65-74,to_inst,19.279661,south,direct,41.0,0
78500,2019,cf,Female,nopre,type1,p3,l1,nopc,nob/c,256500,...,EXP,776,EXP,65-74,to_inst,36.228814,North,direct,32.0,0
64562,2019,cf,Female,nopre,type1,p1,l1,nopc,nob/c,686500,...,EXP,653,CIB,35-44,not_inst,81.921241,North,direct,48.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95608,2019,cf,Male,nopre,type1,p3,l1,nopc,nob/c,196500,...,CRIF,656,CIB,55-64,to_inst,79.233871,North,direct,7.0,0
72315,2019,cf,Joint,nopre,type1,p4,l1,nopc,nob/c,576500,...,EXP,578,EXP,55-64,not_inst,74.100257,south,direct,46.0,0
157267,2019,cf,Sex Not Available,nopre,type2,p4,l1,nopc,b/c,136500,...,EXP,583,EXP,55-64,to_inst,50.932836,south,direct,NaN,1
122443,2019,cf,Male,nopre,type2,p3,l1,nopc,b/c,146500,...,CRIF,687,CIB,25-34,to_inst,87.202381,North,direct,44.0,0
41080,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,96500,...,CIB,778,CIB,35-44,to_inst,65.202703,North,direct,29.0,0

In [13]:
df_test['Status'].value_counts()

0    28050
1     9118
Name: Status, dtype: int64

In [14]:
X_train.head()

,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,loan_amount,...,income,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,dtir1
ID,,,,,,,,,,,,,,,,,,,,,
148781,2019,cf,Joint,nopre,type1,p3,l1,nopc,nob/c,726500,...,10560.0,CRIF,625,EXP,45-54,not_inst,57.750397,North,direct,30.0
40828,2019,cf,Female,pre,type1,p1,l1,nopc,nob/c,266500,...,3240.0,CRIF,567,CIB,25-34,to_inst,78.846154,North,direct,44.0
133157,2019,cf,Joint,nopre,type2,p4,l1,nopc,b/c,446500,...,NaN,EXP,692,EXP,55-64,not_inst,73.437500,North,direct,NaN
113792,2019,cf,Joint,nopre,type1,p3,l1,nopc,nob/c,296500,...,5820.0,CIB,893,EXP,55-64,to_inst,64.737991,North,direct,36.0
86062,2019,cf,Joint,nopre,type1,p3,l1,nopc,nob/c,366500,...,5160.0,CRIF,719,EXP,>74,to_inst,58.359873,south,direct,38.0

In [15]:
df_train.to_csv('data/Loan_Default_train.csv')

In [16]:
df_test.to_csv('data/Loan_Default_test.csv')